.banco{
    background: repeating-linear-gradient(#fff,#dba9a9);
    h1{
        font-size: 15px;
        margin-left: 20px;
    }
    .novios{
       display: grid;
       grid-template-columns: 1fr;
       justify-content: space-between;

       .gian{
           align-items: center;
           text-align: center;
           padding-bottom: 5vh;
           
           .datos{
               .name{
                   h1{
                    font-size: 4.3rem;
                   }
               }
               .bnco {
                  img{
                      height: 6rem;
                  }
               }
               .cuenta{
                   p{
                        font-size: 1.5rem;
                   }
               }
           }
       }
    }
    .sabi{
           
        align-items: center;
        text-align: center;
        padding-bottom: 7vh;
        
        .datos{
            .name{
                h1{
                 font-size: 4.3rem;
                }
            }
            .bnco {
               img{
                   height: 6rem;
               }
            }
            .cuenta{
                p{
                     font-size: 1.5rem;
                }
            }
        }
    }
}
