.navbar{
    display: flex;
    flex-direction: column;
    width: 95%;
    //height: 25vh;
    margin: 3vh 2vw;


    .nav{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0px 5px;
        border-radius: 25px;

        .timer{
            margin-top: 10px;
            //font-size: 3.5em;
            border-radius: 8px;

        }
        a{
            text-decoration: none;
        }
        
        .text{
            color: #fff;
            font-size: 55px;
            background-color: #dba9a9
            ;
            font-family: 'Bonheur Royale', cursive;            padding: 20px 30px;
            text-align: center;
            text-shadow:  5px 3px 4px black;
            border-radius: 8px;

        }
        
    }
    .links-wrapper{
        //width: 85%;
        margin-top: 3vh;
        display: flex;
        justify-content: space-around;

        a{
            text-decoration: none;
            color: #88A185;
            font-size: .9rem;
            font-family: 'Bree Serif', serif;
            transition: 0.5s;
            //padding: 2px 50px;
            


            &:hover{
                color: #3e4c3c;
                background-color: #88a185;
                letter-spacing: 2px;


            }

        }
    }
}