.timer{
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    font-family: inherit;
    text-align: center;
    background-color: #dba9a9;
    font-family: 'Dosis', sans-serif;
    padding: 25px 30px;

}