.timer{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 100;
    font-family: inherit;
    text-align: center;
    background-color: #88a185;
    font-family: 'Bree Serif', serif;
    padding: 25px 30px;

}